@font-face {
    font-family: 'Odachi 400' ;
    src: url("../fonts/Odachi\ 400.otf");
}

@font-face {
    font-family: 'Moon Bold';
    src: url("../fonts/Moon\ Bold.otf");
}

body {
    line-height: 18px;
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 50px;
    background-color: #3f7299;
    border-bottom: 0.17em solid #0f2363;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
	z-index: 10;
}

.logo a{
    font-family: 'Odachi 400', sans-serif;
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    top: 13px;
    color: #86d1cf;
    text-decoration: none;
    text-shadow: #73b6e2 0.4px 0.4px 0px;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 13px;
}

nav a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}

nav .fas:hover {
    border-bottom: 7px solid #97c5e8;
    text-decoration: none;
    color: #fff;
}

nav #logout_icon {
    padding-left: 25px;
}

nav .fa-sign-out-alt:hover {
    border-bottom: 7px solid #97c5e8;
    text-decoration: none;
    color: #fff;
}

nav #user {
    text-decoration: none;
}

nav #user:hover {
    color: #fff;
    border-bottom: 7px solid #97c5e8;
}

.wrapper {
    margin: 0px auto;
    top: 50px;
    position: relative;
    padding: 0px 10px;
    width: 75%;
    min-width: 950px;
}

.col {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #d3d3d3;
    z-index: -1;
}

.user_det {
    width: 250px;
    margin-top: 10px;
    float: left;
    margin-bottom: 20px;
    height: 160px;
}

.user_det img {
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.user_det_lt_rt {
    width: 110px;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
}

.user_det_lt_rt a {
    text-decoration: none;
}

.main {
    width: 75%;
    float: right;
    z-index: -1;
    min-height: 160px;
}

.index_form {
    width: 100%;
}

.index_form textarea {
    width: 81%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #b3c9b9;
    font-size: 15px;
    padding: 5px;
}

textarea:focus {
    outline: 0;
}

.index_form input[type="submit"] {
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 7px;
    background-color:#0b3d5e;
    font-family: 'Odachi 400', sans-serif;
    color: #fff;
    text-shadow: #91c4e6 0.5px 0.3px 0px;
    font-size: 30px;
    position: absolute;
    outline: 0;
    margin: 0;
}

.posts {
    width: 96%;
    font-size: 16px;
    padding: 0px 5px;
    min-height: 75px;
}

.profile_img_post {
    float: left;
    margin-right: 10px;
}

.profile_img_post img {
    border-radius: 4px;
}

.posted_by a {
    text-decoration: none;
}

.date_added {
    float: right;
    color: #59585e;
}

#comment_iframe {
    max-height: 250px;
    width: 100%;
    background-color: #f5f0f0;
    margin-top: 5px;
}

#load_comments {
    padding: 0px 5px 5px 5px;
}

#load_comments img {
    margin: 0px 3px 3px;
    border-radius: 3px;
}

#load_comments a {
    text-decoration: none;
    color: #007bff;
}

#comment_form textarea {
    width: 80%;
    height: 36px;
    border-radius: 4px;
    color: #2a313b;
    font-size: 15px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
    border: none;
    background-color: #0b3d5e;
    border-radius: 5px;
    width: 10%;
    height: 42px;
    color: #fff;
    text-align: center;
    margin-top: 3px;
    position: absolute;
}

.comm_likes {
    padding: 0px;
    text-decoration: none;
    color: #3f7299;
    border: none;
    height: auto;
    width: 100vh;
    display: inline-flex;
    margin: 0;
    background-color: transparent;
}

#comment_toggle:hover {
    cursor: pointer;
}

.comm_likes iframe {
    border: 0;
    height: 19px;
    width: 130px;
}

.like_post {
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: #3f7299;
    padding: 0;
    height: auto;
    width: auto;
    top: 1px;
    margin: 0;
}

.like_post:hover {
    cursor: pointer;
}

.unlike_post {
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: #3f7299;
    padding: 0;
    height: auto;
    width: auto;
    top: 1px;
    margin: 0;
}

.unlike_post:hover {
    cursor: pointer;
}

#likes_span {
    float: right;
    margin-top: -6px;
    font-size: 13px;
    color: #3f7299;
    cursor: pointer;
}

.user_profile {
    top: -10px;
    width: 18%;
    max-width: 240px;
    min-width: 130px;
    height: 100%;
    float: left;
    position: relative;
    background-color: #749cdb;
    border-right: 5px solid #0c2d63;
    color: #fff;
    margin-right: 20px;
}

.user_profile img {
    max-width: 80px;
    width: 60%;
    margin: 15px;
    border: 5px solid #0c2d63;
    border-radius: 100px;
}

.user_info {
    display: list-item;
    background-color: #031836;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.user_info p {
    margin: 0px 0px 0px 15px;
    word-wrap: break-word;
}

.add_friend {
    background-color: #05ad0e;
}

.remove_friend {
    background-color: #b81800;
}

.request_sent {
    background-color: orange;
}

.request_received {
    background-color: #0283ed;
}

.user_profile input[type="submit"] {
    width: 80%;
    height: 35px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: white;
}

.accept_request {
    width: 17%;
    height: 29px;
    border-radius: 4px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: green;
}

.ignore_request {
    width: 17%;
    height: 29px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: red;
}

.delete_post {
    margin-left: 61vh;
    height: 3vh;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    background-color: #a30023;
}

.delete_post:hover {
    text-decoration: none;
    color: #fff;
}

.main_prof {
    min-width: 675px;
    float: left;
    width: 75%;
    z-index: -1;
}

#mutual {
    background-color: #185cba;
    color: #fff;
    border: 2px solid #667a96;
    border-radius: 3px;
}

#mutual:hover {
    cursor: pointer;
}

.mutual_friends_list {
    width: 100%;
    height: 50px;
}

.friend_pic {
    float: left;
    width: 17%;
    height: 55px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.friend_pic img {
    height: 50px;
    border-radius: 2px;
}

.friend_info {
    width: 75%;
    height: 55px;
    float: right;
    text-align: -webkit-left;
    text-decoration: none;
    padding-top: 13px;
}

#modal_href {
    text-decoration: none;
    color: #264f87;
}

#name {
    width: 50%;
    height: 20px;
}

.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    
}

.label_file {
    border: 2px solid #3b3e9c;
    background-color: #3b3e9c;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 0;
}