@font-face {
    font-family: 'Odachi 400' ;
    src: url("../fonts/Odachi\ 400.otf");
}

@font-face {
    font-family: 'Moon Bold';
    src: url("../fonts/Moon\ Bold.otf");
}

body {
    line-height: 18px;
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 50px;
    background-color: #3f7299;
    border-bottom: 0.17em solid #0f2363;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
	z-index: 10;
}

.logo a{
    font-family: 'Odachi 400', sans-serif;
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    top: 13px;
    color: #86d1cf;
    text-decoration: none;
    text-shadow: #73b6e2 0.4px 0.4px 0px;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 13px;
}

nav a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}

nav .fas:hover {
    border-bottom: 7px solid #97c5e8;
    text-decoration: none;
    color: #fff;
}

nav #logout_icon {
    padding-left: 25px;
}

nav .fa-sign-out-alt:hover {
    border-bottom: 7px solid #97c5e8;
    text-decoration: none;
    color: #fff;
}

nav #user {
    text-decoration: none;
}

nav #user:hover {
    color: #fff;
    border-bottom: 7px solid #97c5e8;
}

.wrapper {
    margin: 0px auto;
    top: 50px;
    position: relative;
    padding: 0px 10px;
    width: 75%;
    min-width: 950px;
}

.col {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #d3d3d3;
    z-index: -1;
}

.user_det {
    width: 260px;
    margin-top: 10px;
    float: left;
    margin-bottom: 20px;
    min-height: 160px;
}

.user_det img {
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.user_det_lt_rt {
    width: 110px;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
}

.user_det_lt_rt a {
    text-decoration: none;
}

.main {
    width: 75%;
    float: right;
    z-index: -1;
    min-height: 180px;
}

.index_form {
    width: 100%;
}

.index_form textarea {
    width: 81%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #b3c9b9;
    font-size: 15px;
    padding: 5px;
}

textarea:focus {
    outline: 0;
}

.index_form input[type="submit"] {
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 7px;
    background-color:#0b3d5e;
    font-family: 'Odachi 400', sans-serif;
    color: #fff;
    text-shadow: #91c4e6 0.5px 0.3px 0px;
    font-size: 30px;
    position: absolute;
    outline: 0;
    margin: 0;
}

.posts {
    width: 96%;
    font-size: 16px;
    padding: 0px 5px;
    min-height: 75px;
}

.profile_img_post {
    float: left;
    margin-right: 10px;
}

.profile_img_post img {
    border-radius: 4px;
}

.posted_by a {
    text-decoration: none;
}

.date_added {
    float: right;
    color: #59585e;
}

#comment_iframe {
    max-height: 250px;
    width: 100%;
    background-color: #f5f0f0;
    margin-top: 5px;
}

#load_comments {
    padding: 0px 5px 5px 5px;
}

#load_comments img {
    margin: 0px 3px 3px;
    border-radius: 3px;
}

#load_comments a {
    text-decoration: none;
    color: #007bff;
}

#comment_form textarea {
    width: 80%;
    height: 36px;
    border-radius: 4px;
    color: #2a313b;
    font-size: 15px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
    border: none;
    background-color: #0b3d5e;
    border-radius: 5px;
    width: 10%;
    height: 42px;
    color: #fff;
    text-align: center;
    margin-top: 3px;
    position: absolute;
}

.comm_likes {
    padding: 0px;
    text-decoration: none;
    color: #3f7299;
    border: none;
    height: auto;
    width: 100vh;
    display: inline-flex;
    margin: 0;
    background-color: transparent;
}

#comment_toggle:hover {
    cursor: pointer;
}

.comm_likes iframe {
    border: 0;
    height: 19px;
    width: 130px;
}

.like_post {
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: #3f7299;
    padding: 0;
    height: auto;
    width: auto;
    top: 1px;
    margin: 0;
}

.like_post:hover {
    cursor: pointer;
}

.unlike_post {
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: #3f7299;
    padding: 0;
    height: auto;
    width: auto;
    top: 1px;
    margin: 0;
}

.unlike_post:hover {
    cursor: pointer;
}

#likes_span {
    float: right;
    margin-top: -6px;
    font-size: 13px;
    color: #3f7299;
    cursor: pointer;
}

.user_profile {
    top: -10px;
    width: 18%;
    max-width: 240px;
    min-width: 130px;
    height: 100%;
    float: left;
    position: relative;
    background-color: #749cdb;
    border-right: 5px solid #0c2d63;
    color: #fff;
    margin-right: 20px;
}

.user_profile img {
    max-width: 80px;
    width: 60%;
    margin: 15px;
    border: 5px solid #0c2d63;
    border-radius: 100px;
}

.user_info {
    display: list-item;
    background-color: #031836;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.user_info p {
    margin: 0px 0px 0px 15px;
    word-wrap: break-word;
}

.add_friend {
    background-color: #05ad0e;
}

.remove_friend {
    background-color: #b81800;
}

.request_sent {
    background-color: orange;
}

.request_received {
    background-color: #0283ed;
}

.user_profile input[type="submit"] {
    width: 80%;
    height: 35px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: white;
}

.accept_request {
    width: 17%;
    height: 29px;
    border-radius: 4px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: green;
}

.ignore_request {
    width: 17%;
    height: 29px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: red;
}

.delete_post {
    margin-left: 61vh;
    height: 3vh;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    background-color: #a30023;
}

.delete_post:hover {
    text-decoration: none;
    color: #fff;
}

.main_prof {
    min-width: 675px;
    float: left;
    width: 75%;
    z-index: -1;
}

#mutual {
    background-color: #185cba;
    color: #fff;
    border: 2px solid #667a96;
    border-radius: 3px;
}

#mutual:hover {
    cursor: pointer;
}

.mutual_friends_list {
    width: 100%;
    height: 50px;
}

.friend_pic {
    float: left;
    width: 17%;
    height: 55px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.friend_pic img {
    height: 50px;
    border-radius: 2px;
}

.friend_info {
    width: 75%;
    height: 55px;
    float: right;
    text-align: -webkit-left;
    text-decoration: none;
    padding-top: 13px;
}

#modal_href {
    text-decoration: none;
    color: #264f87;
}

#name {
    width: 50%;
    height: 20px;
}

.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    
}

.label_file {
    border: 2px solid #3b3e9c;
    background-color: #3b3e9c;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 0;
}

#message_content {
    margin-right: 7px;
    border-radius: 4px;
    border: 2px solid #d3d3d3;
    font-size: 13px;
    width: 80%;
}

#send_message {
    width: 14%;
    height: 42px;
    margin:0;
    position: absolute;
    background-color:#0b3d5e;
    font-family: 'Odachi 400', sans-serif;
    color: #fff;
    text-shadow: #91c4e6 0.5px 0.3px 0px;
    font-size: 30px;
    border: none;
    border-radius: 4px;
}

.message {
    border: 1px solid #000;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    padding: 5px 7px;
}

.message#blue {
    background-color: #007bff;
    border-color: #2980b9;
    float: right;
    margin-bottom: 6px;
    margin-right: 10px;
}

.message#green {
    background-color: #4b8a42;
    border-color: #0f6303;
    float: left;
    margin-bottom: 6px;
    margin-left: 7px;
}

.message_retrieve {
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.all_conversations {
    max-height: 215px;
    overflow: scroll;
    overflow-x: hidden;
}

.all_conversations a {
    text-decoration: none;
}

.user_messages {
    border-bottom: 1px solid #d3d3d3;
    padding: 8px 8px 10px 8px;
}

.user_messages:hover {
    background-color: #d3d3d3;
}

.user_messages img {
    height: 39px;
    float: left;
}

#grey {
    color: #8c8c8c;
}

.display_friend {
    padding: 5px 5px 0px 5px;
    height: 10vh;
    border-bottom: 1px solid #d3d3d3;
}

.display_friend a {
    float: none;   
}

.display_friend a:hover {
    text-decoration: none;
}

.display_friend:hover {
    background-color: #ebebeb;
    text-decoration: none;
}

.live_search_img img {
    height: 50px;
    border-radius: 25px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.live_search_text {
    background-color: transparent;
}

.live_search_text p{
    margin-left: 7px;
    font-size: 13px;
}

.dropdown_data {
    background-color: lightgoldenrodyellow;
    border: 1px solid #8c8c8c;
    border-radius: 0px 0px 8px 8px;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 1px;
    top: 50px;
    overflow: scroll;
    overflow-x: hidden;
}

.dropdown_data a {
    text-decoration: none;
}

.notification_msg {
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #f00;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    left: 8px;
}

.resultNotification {
    height: 33px;
    color: lightskyblue;
    padding-bottom: 5px;
}

.resultNotification img {
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.timestamp {
    font-size: 85%;
    margin: 0;
}

.search {
    margin: 12px 0px 0px 10%;
}

#search_input {
    border: thin solid #031836;
    float: left;
    height: 23px;
    outline: 0;
    width: 25vh;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button_search {
    background-color: #f1f1f1;
    border: thin solid #031836;
    float: left;
    cursor: pointer;
    height: 23px;
    text-align: center;
    width: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button_search img {
    margin-top: 1px;
    width: 37px;
    height: 21px;
}

.search_results_footer {
    padding: 3px 9px 0px 0px;
    height: 25px;
    border: 1px solid #f1f1f1;
    border-top: none;
    background-color: skyblue;
    text-align: center;
    font-size: 14px;
}

.search_results_footer a {
    text-decoration: none;
}

.search_all {
    padding: 10px;
    height: 100px;
}

.search_all a {
    text-decoration: none;
}

.friendButtons {
    float: right;
}

.friendButtons input[type='submit'] {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}

.search_profile_picture {
    float: left;
    margin-right: 6px;
}

#search_hr {
    margin-bottom: 0;
}

.request_sent_search {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
    background-color: orange;
    width: 13vh;
}

#settings_pic {
    height: 60px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.settings_form input[type='text'], input[type='password'] {
    border: 1px solid #ccc;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
}

.settings_update {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}